/* div{
    border: 5px solid;
    border-color: greenyellow;
    width: 350px;
    padding: 30px;
    margin: 30px;
} */

.flex-container{
    display: flex;
    background-color: dodgerblue;
    /* flex-wrap: wrap; */
}
.flex-container > div{
    background-color: #f1f1f1;
    padding: 20px;
    margin: 10px;   
}